        {% extends 'application/base.html' %}


        {% block content %}
        {% load static %}

        <!-- Masthead-->
        {% if user.is_authenticated %}

        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 d-flex align-items-center justify-content-center text-center">
                    <p>Bienvenue {{ user.get_username }} !</p>
                </div>
            </div>
        </header>

        {% else %}

        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 d-flex align-items-center justify-content-center text-center">
                    <div class="col-lg-6 text-center">
                        <div class="mt-5" >
                            <h3 class="h4 mb-2">Créer un compte</h3>
                            <h2>Sign up Form</h2>
                            <form method="post">
                              {% csrf_token %}
                              {% for field in form_sign_up %}
                                <p>
                                  {{ field.label_tag }}<br>
                                  {{ field }}
                                  {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                  {% endif %}
                                  {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                  {% endfor %}
                                </p>
                              {% endfor %}
                              <button type="submit">Sign up</button>
                            </form>

                            <p>No account? <a href="/create-account">Let's create an account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        {% endif %}

        {% endblock %}